#header {
    background-color: darkgray;
    color: white;
    text-align: center;
}

/* #btnGroup {
    background-color: lightcoral;
} */

#info-row {
    /* border: 5pt solid red; */
    padding: 15px 0px;
    background-color: lightgray;
    /* margin-bottom: 10px; */
}

#description {
    background-color: lightslategrey;
}

#scoreDiv {
    background-color: lightyellow;
    padding: 15px 0px;
}

/* #result {
    text-align: right;
} */

/* #mainCont {
    height: auto;
    border: 5pt solid orange;
} */

#quizDiv {
    /* height: auto; */
    /* border: 5pt solid orange; */
    background-color: lightblue;
}

#highScoresDiv {
    background-color: lightsalmon;
    /* float: left; */
    /* width: 20%; */
}

#quizCont {
    float: right;
    background-color: grey;
    border: 5pt solid red;
    width: 80%;
}

#quizHeader {
    background-color: lightgreen;
}

#saveScore {
    float: right;
    background-color: hotpink;
}

#timerInfo {
    float: right;
}

